.row.dashboard {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: auto;
	font-size: 15px;
	margin-top: 85px;
	margin-bottom: 26px;
}
li.list-group-item {
	display: flex;
	align-items: center;
	color: black;
}
.dashboard svg {
	margin-left: 10px;
}
.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	width: 100%;
}
.noPaddig {
	padding: 0px !important;
}
