.footer_heading {
	min-height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #03a9f4;
	width: 100%;
	position: absolute;
}
.footer {
	position: relative;
	bottom: 0;
}
